config
analysis-cov
analysis-cppcheck
.doxygen
cardy_gl*
cardy_server*
cardy_tests*
coverage
dependencies/librsvg*
dependencies/bin
dependencies/etc
dependencies/include
dependencies/lib
dependencies/share
dist
example_*
*.gcda
*.gcno
*.o
*.a
TAGS
