build.ninja
config
analysis-cov
analysis-cppcheck
.doxygen
cardy_gl*
coverage
dependencies/librsvg*
dependencies/bin
dependencies/etc
dependencies/include
dependencies/lib
dependencies/share
dist
examples/background/example-background*
examples/solved/example-solved*
examples/widget-window/widget-window*
*.gcda
*.gcno
*.o
*.a
server/cardy_server*
tests/cardy_tests*
TAGS
