.doxygen
cardy_gl*
coverage
examples/background/example-background*
examples/solved/example-solved*
examples/widget-window/widget-window*
*.gcda
*.gcno
*.o
api/libcardy-api.a
game/libcardy-game.a
tests/cardy_tests
TAGS
